.podiumContent {
    width: 626px;
    height: 442px;
    background: url('/podium.jpeg') no-repeat;
    background-size: cover;
}
.shadowBoxX {
    background: linear-gradient(to right, var(--back-color), rgba(255, 0, 0, 0) 30%, var(--back-color));
    width: 100%;
    height: 100%;
}
.shadowBoxY {
    background: linear-gradient(to bottom, var(--back-color), rgba(255, 0, 0, 0)30%, var(--back-color));
    width: 100%;
    height: 100%;
}