#conteiner {
    max-width: 1520px;
    margin: auto;
    padding: 0px 100px;
}
.header {
    display: grid;
    grid-template-columns: 1fr 1fr 2fr;
    width: 100%;
    height: 80px;
    align-items: center;
    gap: 30px;
}
.nav {
     display: flex;
     align-items: center;
     justify-content: space-evenly;
}
.searchContent form {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
}
.searchInput {
    
}
.pokeLogo {
    width: 180px;
}
.routerContent {
    display: flex;
    align-items: center;
    gap: 5px;
}
.linkArrow {
    width: 25px;
}